* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background: #ff6347;
  overflow: hidden;
}

h1 {
  margin-top: 50px;
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
}

.input {
  text-align: center;
  margin-top: 300px;
}

.input label {
  font-size: 2rem;
}

#hex {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
}
